<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <main>
        <div class="container">
            <div class="card mt-4 p-3 shadow-lg rounded border-0">
                <div class="card-body">
                    <div class="card-title text-center mb-4">
                        <h2 class="register-h2">Edicion de productos</h2>
                        <hr>
                    </div>
                    <form class="w-100" action="/products/<%= productEdit.id %>?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <div class="form-row">
                            
                            <div class="form-group col-md-12">
                                <label class="col-form-label col-form-label-lg" for="product_name">Nombre del
                                    producto</label>
                                <input type="text" class="form-control" id="nameDefault_id"
                                    name="product_name" value="<%= productEdit.name %>">
                                    <% errors.forEach(error => { %>
                                        <% if(error.param == "nameDefault_id") { %>
                                        <span class="span_errors">* <%= error.msg %></span>
                                        <% } else { "" } %>
                                        <% }) %>
                                <span class="" id="nameDefault_msg"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <% errors.forEach(error => { %>
                                <% if(error.param == "product_category") { %>
                                <span class="span_errors">* <%= error.msg %></span>
                                <% } else { "" } %>
                                <% }) %>
                            <div class="form-group col-md-6">
                                <label class="col-form-label col-form-label-lg" for="categoryDefault">Categoria</label>
                                <select name="product_category" id="product_category_id" class="form-control">
                                    <% for(let i = 0; i < allCategories.length; i++) {%>
                                    <% if(allCategories[i].id == productEdit.category_id) { %>
                                    <option value="<%= allCategories[i].id %>" selected>
                                        <%= allCategories[i].name %>
                                    </option>
                                    <% } else {%>
                                    <option value="<%= allCategories[i].id %>">
                                        <%= allCategories[i].name %>
                                    </option>
                                    <% } %>
                                    <% } %>
                                </select>
                                <span class="" id="product_category_msg"></span>
                            </div>
                            
                            <% errors.forEach(error => { %>
                                <% if(error.param == "product_quantity") { %>
                                <span class="span_errors">* <%= error.msg %></span>
                                <% } else { "" } %>
                                <% }) %>
                            <div class="form-group col-md-6">
                                <label class="col-form-label col-form-label-lg" for="product_quantity">Cantidad en
                                    Stock</label>
                                <input type="text" class="form-control" id="product_quantity_id"
                                    name="product_quantity" value="<%= productEdit.quantity %>">
                                <span class="" id="product_quantity_msg"></span>
                            </div>

                            <% errors.forEach(error => { %>
                                <% if(error.param == "product_price") { %>
                                <span class="span_errors">* <%= error.msg %></span>
                                <% } else { "" } %>
                                <% }) %>
                            <div class="form-group col-md-6">
                                <label class="col-form-label col-form-label-lg">Precio</label>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control"
                                            aria-label="Amount (to the nearest dollar)" name="product_price" id="product_price_id"
                                            value="<%= productEdit.price %>">
                                        <div class="input-group-append">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                        <span class="" id="product_price_msg"></span>
                                    </div>
                                </div>
                            </div>

                            <% errors.forEach(error => { %>
                                <% if(error.param == "product_discount") { %>
                                <span class="span_errors">* <%= error.msg %></span>
                                <% } else { "" } %>
                                <% }) %>
                            <div class="form-group col-md-6">
                                <label class="col-form-label col-form-label-lg">Descuento</label>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control"
                                            aria-label="Amount (to the nearest dollar)" name="product_discount" id="product_discount_id"
                                            value="<%= productEdit.discount %>">
                                        <div class="input-group-append">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <span class="" id="product_discount_msg"></span>
                                    </div>
                                </div>
                            </div>
                                
                            
                        </div>

                        <% errors.forEach(error => { %>
                            <% if(error.param == "product_image") { %>
                            <span class="span_errors">* <%= error.msg %></span>
                            <% } else { "" } %>
                            <% }) %>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="product_image_id" name="product_image"
                                            value="<%= productEdit.image %>">
                                        <label class="custom-file-label" for="product_image">
                                            <% if (productEdit.image != '') { %>
                                            <%= productEdit.image %>
                                            <% } else {%>
                                            Imagen del producto
                                            <% } %>
                                        </label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label col-form-label-lg"
                                    for="exampleTextarea">Descripcion</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3"
                                    name="product_description"><%= productEdit.description %></textarea>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary">Editar</button>

                        <button type="reset" class="btn btn-warning">Limpiar</button>
                    </form>
                </div>
            </div>
        </div>
        <br>
    </main>

    <%- include('../partials/footer') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.5.2/validator.min.js" integrity="sha512-vZEoK8xRncku4g5GANHh5zobUjeCMbZkSEahrADeAcRlk/1Ignf8sAKojkV4RZLkPw145+ILJFisI2pnjsPtGQ==" crossorigin="anonymous"></script>
    <script src="/js/productsEditValidator.js"></script>

</body>

</html>