<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <main>
        <div class="container">
            <div class="card mt-4 p-3 shadow-lg rounded border-0">
                <div class="card-body">
                    <div class="card-title text-center mb-4">
                        <h2 class="register-h2">Creación de productos</h2>
                        <hr>
                    </div>
                    <form class="w-100" action="/products" method="POST" enctype="multipart/form-data" id="productCreateForm">
                        <div class="form-row">
                            <% errors.forEach(error => { %>
                            <% if(error.param == "product_name") { %>
                            <span class="span_errors">* <%= error.msg %></span>
                            <% } else { "" } %>
                            <% }) %>
                            <div class="form-group col-md-12">
                                <label class="col-form-label" for="product_name">Nombre del producto</label>
                                <input class="form-control" type="text" name="product_name" id="product_name_id">
                                <span class="" id="product_name_msg"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <% errors.forEach(error => { %>
                            <% if(error.param == "product_category") { %>
                            <span class="span_errors">* <%= error.msg %></span>
                            <% } else { "" } %>
                            <% }) %>
                            <div class="form-group col-md-6">
                                <label class="col-form-label" for="inputDefault">Categoria</label>
                                <select name="product_category" id="product_category_id" class="form-control">
                                    <% for(let i = 0; i < categories.length; i++) {%>
                                    <option value="<%= categories[i].id %>">
                                        <%= categories[i].name %>
                                    </option>
                                    <% } %>
                                </select>
                                <span class="" id="product_category_msg"></span>
                            </div>

                            <% errors.forEach(error => { %>
                            <% if(error.param == "product_quantity") { %>
                            <span class="span_errors">* <%= error.msg %></span>
                            <% } else { "" } %>
                            <% }) %>
                            <div class="form-group col-md-6">
                                <label class="col-form-label" for="product_quantity">Cantidad</label>
                                <input class="form-control" type="text" name="product_quantity" id="product_quantity_id">
                                <span class="" id="product_quantity_msg"></span>
                            </div>

                        </div>

                        <div class="form-row">
                            <% errors.forEach(error => { %>
                            <% if(error.param == "product_price") { %>
                            <span class="span_errors">* <%= error.msg %></span>
                            <% } else { "" } %>
                            <% }) %>

                            <div class="form-group col-md-6">
                                <label class="col-form-label">Precio</label>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control"
                                            aria-label="Amount (to the nearest dollar)" name="product_price" id="product_price_id">
                                        <div class="input-group-append">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                        <span class="" id="product_price_msg"></span>
                                    </div>
                                </div>
                            </div>
                            <% errors.forEach(error => { %>
                            <% if(error.param == "product_discount") { %>
                            <span class="span_errors">* <%= error.msg %></span>
                            <% } else { "" } %>
                            <% }) %>
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Descuento</label>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" name="product_discount" id="product_discount_id">
                                        <div class="input-group-append">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <span class="" id="product_discount_msg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% errors.forEach(error => { %>
                        <% if(error.param == "product_image") { %>
                        <span class="span_errors">* <%= error.msg %></span>
                        <% } else { "" } %>
                        <% }) %>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="product_image_id" name="product_image">
                                        <label class="custom-file-label" for="product_image">Imagen del
                                            producto</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                    <span class="" id="product_image_msg"></span>
                                </div>
                            </div>
                        </div>

                        <% errors.forEach(error => { %>
                        <% if(error.param == "product_description") { %>
                        <span class="span_errors">* <%= error.msg %></span>
                        <% } else { "" } %>
                        <% }) %>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="col-form-label" for="product_description">Descripcion</label>
                                <textarea class="form-control" id="product_description_id" rows="3" name="product_description"></textarea>
                                <span class="" id="product_description_msg"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" target="">Crear</button>

                        <button type="reset" class="btn btn-warning">Limpiar</button>
                </div>
            </div>
            </form>
        </div>
        </div>
        <br>
        </div>
    </main>

    <%- include('../partials/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.5.2/validator.min.js" integrity="sha512-vZEoK8xRncku4g5GANHh5zobUjeCMbZkSEahrADeAcRlk/1Ignf8sAKojkV4RZLkPw145+ILJFisI2pnjsPtGQ==" crossorigin="anonymous"></script>
    <script src="/js/productsCreate.js"></script>
    
</body>

</html>