<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <!-- product detail -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Detalle del producto: <%= productDetail.name %></h2>
            </div>
        </div>
        <div class="product-detail">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <img class="product-detail-img" src="/images/products/<%= productDetail.image %>" alt="">
                </div>

                <div class="card bg-light mb-3 col-12 col-lg-6" style="max-width: 40rem;">
                    <div class="card-header">
                        <h2>
                            <%= productDetail.name %>
                        </h2>
                    </div>
                    <div class="card-body-detail">
                        <p class="product-detail-price small">
                            <span>$<%= helpers.trunc(productDetail.price) %></span>
                            /
                            <b><%= productDetail.discount %>% OFF</b>
                        </p>

                        <p class="product-detail-price small">
                            $<%= (productDetail.price * (1 - (productDetail.discount /100))) %>
                        </p>

                        <form action="/users/<%= productDetail.id %>/addToCart" method="POST" style="display: inline-flex">
                            <div class="ml-1">
                                <label class="" for="inputDefault">Cantidad</label>
                                <input class="form-control mb-2" type="number" name="product_quantity" id="product_quantity" value="1" min="1">
                                <button type="submit" class="btn bg-cart"><i class="fas fa-cart-arrow-down mr-2"></i> Agregar al carrito</button>
                            </div>
                        </form>
                        <hr>
                        <% if ( locals.role_id == 2 ) { %>
                        <form action="/products/<%= productDetail.id %>/edit" method="get" style="display: inline-flex">
                            <button type="submit" class="btn btn-warning"><i class="fas fa-edit mr-2"></i> Editar</button>
                        </form>

                        <form action="/products/delete/<%= productDetail.id %>?_method=DELETE" method="POST"
                            style="display: inline-flex">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt mr-2"></i> Eliminar</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="card">
                        <div class="card-body-detail">
                            <p class="lead"><%= productDetail.description %></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <%- include('../partials/footer') %>

    <script src="/js/productsEditValidator.js"></script>
</body>

</html>