<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <!-- product detail -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Detalle del producto: <%= productDetail.name %></h2>
            </div>
        </div>
        <div class="product-detail">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <img class="product-detail-img" src="<%= productDetail.image %>" alt="">
                </div>

                <div class="card bg-light mb-3" style="max-width: 40rem;">
                    <div class="card-header">
                        <h2>
                            <%= productDetail.name %>
                        </h2>
                    </div>
                    <div class="card-body">
                        <p class="product-detail-price small">
                            <span>$<%= productDetail.price %></span>
                            /
                            <b><%= productDetail.discount %>% OFF</b>
                        </p>
                        <p class="product-detail-price small">
                            $<%= (productDetail.price * (1 - (productDetail.discount /100))) %>
                        </p>

                        <form action="#" method="get" style="display: inline-flex">
                            <button type="submit" class="btn btn-info action-button">Enviar al carrito</button>
                        </form>
                        <hr>

                        <form action="/products/<%= productDetail.id %>/edit" method="get" style="display: inline-flex">
                            <button type="submit" class="action-button btn btn-warning">Editar</button>
                        </form>

                        <form action="/products/delete/<%= productDetail.id %>?_method=DELETE" method="POST"
                            style="display: inline-flex">
                            <button type="submit" class="action-button btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <p class="lead"><%= productDetail.detail %></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <%- include('../partials/footer') %>

</body>

</html>