<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <main>
        <div class="container">
            <form class="w-100" action="/products/<%= productEdit.id %>?_method=PUT" method="POST">
                <div class="form-row">
                    <div class="form-group">
                        <h2 class="register-h2">Edicion de productos</h2>
                        <hr>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label col-form-label-lg" for="inputDefault">Nombre del producto</label>
                        <input type="text" class="form-control form-control-lg" id="inputDefault" name="name"
                            value="<%= productEdit.name %>">
                    </div>
        
        
                    <div class="form-group col-md-6">
                        <label class="col-form-label col-form-label-lg" for="inputDefault">Detalle del producto</label>
                        <input type="text" class="form-control form-control-lg" id="inputDefault" name="detail"
                            value="<%= productEdit.detail %>">
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="col-form-label col-form-label-lg" for="inputDefault">Categoria</label>
                        <input type="text" class="form-control form-control-lg" id="inputDefault" name="category"
                            value="<%= productEdit.category %>">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="col-form-label col-form-label-lg" for="inputDefault">Cantidad en Stock</label>
                        <input type="text" class="form-control form-control-lg" id="inputDefault" name="quantity"
                            value="<%= productEdit.quantity %>">
                    </div>
               
                    <div class="form-group col-md-4">
                        <label class="col-form-label col-form-label-lg">Precio</label>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg"
                                    aria-label="Amount (to the nearest dollar)" name="price" value="<%= productEdit.price %>">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile02" name="image"
                                    value="<%= productEdit.image %>">
                                <label class="custom-file-label" for="inputGroupFile02">Subir imagen</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                            </div>
                        </div>
                    </div>  
                </div>
    
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="col-form-label col-form-label-lg" for="exampleTextarea">Descripcion</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3" name="name"
                        value="<%= productEdit.detail %>" ></textarea>
                    </div>
                </div>
    
    
    
    
    
    
    
                </fieldset>
                <button type="submit" class="btn btn-lg btn-primary">Editar</button>
                </fieldset>
    
                </fieldset>
                <button type="reset" class="btn btn-lg btn-warning">Limpiar</button>
                </fieldset>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>

</body>

</html>