<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head') %>

<body>
   <!-- Header -->
   <%- include('../partials/header') %>
   <!-- /Header -->
   <div class="container">
      <div class="card my-4 p-3 shadow-lg rounded border-0">
         <div class="card-body">
            <div class="card-title text-center mb-4">
                <h2 class="register-h2">Detalle de compra</h2>
            </div>
            <div class="product-detail">
               <div class="d-flex flex-wrap">
                  <div class="col-6 col-sm-12">
                     <article class="">
                        <h3 class="">
                           <% if(cart.order_number){ %>
                              Numero de orden: </strong><%= cart.order_number %>
                           <% } else { %>
                              Carrito abierto</strong>
                           <% } %>
                        </h3>
                        <hr class="mb-4">
                        <div class="d-flex justify-content-center">
                           <div class="mr-4">
                              <h4><strong>Total:</strong> $<%= helpers.trunc(cart.total) %></h4>
                           </div>
                           <div class="ml-4">
                              <h4><strong>Fecha de compra:</strong> <%= new Date(cart.created_at).toLocaleDateString()%></h4>
                           </div> 
                        </div>
                        <br>
                        <h4><strong>Productos adquiridos:</strong></h4>
                        <div>
                           <% cart.products.forEach(item => { %>
                           <div class="d-flex flex-wrap mb-2 mt-4 justify-content-between align-content-center border border-primary lead">
                              <div class="col-sm-2 hidden-xs">
                                 <img src="/images/products/<%= item.image %>" alt="..." class="img-responsive" />
                              </div>
                              <div class="align-self-center">
                                 <h4><%= item.name %></h4> 
                              </div>
                              <div class="align-self-center p-3">
                                 <p>Precio unitario: $<%= helpers.trunc((item.CartDetails.subtotal / item.CartDetails.quantity).toFixed(2)) %> </p>
                                 <p>Cantidad: <%= item.CartDetails.quantity %></p>
                              </div>
                           </div>
                           <% }) %>
                        </div>
                        <hr>
                     </article>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- footer -->
   <%- include('../partials/footer') %>
   <!-- /footer -->
</body>

</html>