<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head') %>

<body>
   <!-- Header -->
   <%- include('../partials/header') %>
   <!-- /Header -->
   <div class="container">
      <div class="card my-4 p-3 shadow-lg rounded border-0">
         <div class="card-body">
            <div class="card-title text-center mb-4">
                <h2 class="register-h2">Detalle de compra</h2>
            </div>
            <div class="product-detail">
               <div class="row">
                  <div class="col-6 col-sm-12">
                     <article class="">
                        <h2 class="">
                           <% if(cart.order_number){ %>
                              Numero de orden: </strong><%= cart.order_number %>
                           <% } else { %>
                              Carrito abierto</strong>
                           <% } %>
                        </h2>
                        <hr class="mb-4">
                        <strong>Total:</strong><p>$<%= cart.total %></p>
                        <br>
                        <strong>Productos:</strong>
                        <ul>
                           <% cart.products.forEach(item => { %>
                           <li>
                              <p><%= item.name %> x<%= item.quantity %> - <strong><small><%= cart.User.first_name + ' ' + cart.User.last_name %></small></strong></p>
                              <div class="col-sm-2 hidden-xs"><img src="/images/products/<%= item.image %>" alt="..."
                                 class="img-responsive" />
                              </div>
                           </li>
                           <% }) %>
                        </ul>
                        <strong>Fecha de compra:</strong><p><%= new Date(cart.created_at).toLocaleDateString()%></p>
                        <hr>
                     </article>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- footer -->
   <%- include('../partials/footer') %>
   <!-- /footer -->
</body>

</html>