<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<body>
    <%- include('../partials/header') %>

    <div class="container">
        <div class="card my-4 p-3 shadow-lg rounded border-0">
           <div class="card-body">
                <div class="card-title text-center mb-4">
                    <h2 class="register-h2">Mi Carrito</h2>
                </div>
                <% if(ShoppingCart && ShoppingCart.products.length > 0) { %>
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:50%">Producto</th>
                            <th style="width:12%">Precio de Lista</th>
                            <th style="width:3%">Descuento</th>
                            <th style="width:10%">Precio Final</th>
                            <th style="width:8%">Cantidad</th>
                            <th style="width:12%" class="text-center">Subtotal</th>
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% ShoppingCart.products.forEach(item => { %>
                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs"><img src="/images/products/<%= item.image %>" alt="..."
                                            class="img-responsive" />
                                    </div>
                                    <div class="col-sm-10">
                                        <h4 class="nomargin"><%= item.name %></h4>
                                        <p><%= item.description %></p>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price"><%= '$ ' + helpers.trunc(item.price) %></td>
                            <td data-th="Discount"><%= '% ' + helpers.trunc(item.discount) %></td>
                            <td data-th="Price"><%= '$ ' + helpers.trunc((item.price - item.price * item.discount / 100).toFixed(2)) %></td>
                            <form id="editCartItem<%= item.CartDetails.id %>" action="/users/<%= item.CartDetails.id %>/editQtyItemCart?_method=PUT" method="POST">
                            <td data-th="Quantity">
                                <input name="quantity" type="number" class="form-control text-center" value= '<%= item.CartDetails.quantity %>' min="1" >
                            </td>
                            <td data-th="Subtotal" class="text-center"><%= helpers.trunc(item.CartDetails.subtotal) %></td>
                            <td class="actions" data-th="">
                                <div class="actions justify-content-around">
                                        <input type="hidden" name="price" value="<%= item.price %>">
                                        <input type="hidden" name="discount" value="<%= item.discount %>">
                                        <button type="submit" class="btn btn-info btn-sm mb-2"><i class="fa fa-refresh"></i></button>
                                    </form>
                                    <form id="deleteCartItem<%= item.CartDetails.id %>" action="/users/deleteFromCart/<%= item.CartDetails.id %>" method="POST">
                                        <input type="hidden" name="userId" value="<%= ShoppingCart.user_id %>">
                                        <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <%  } ) %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><a href="/products/categories" class="btn btn-warning"><i class="fa fa-angle-left"></i> Seguir Comprando</a></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Total $<%= helpers.trunc(ShoppingCart.total) %></strong></td>
                            <td>
                                <form action="/users/shop" method="POST"  style="display: inline-bock">
                                    <input type="hidden" name="userId" value="<%= locals.userId %>">
                                    <td><button type="submit" class="btn btn-success "> Confirmar Pedido <i class="fa fa-angle-right"></i></button></td>
                                 </form>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <% } else { %>
                    <h2 class="products-title" style="padding: 100px 0; color: tomato;">Todavía no hay productos en el carrito de compras.</h2>
                <% } %>
            </div>
            <hr>
        </div>
    </div>

    <%- include('../partials/footer') %>

</body>

</html>