<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head') %>

<body>
   <!-- Header -->
   <%- include('../partials/header') %>
   <!-- /Header -->

   <main>
      <div class="container">
         <div class="card my-4 p-3 shadow-lg rounded border-0">
            <div class="card-body">
               <div class="card-title text-center mb-4">
                   <h2 class="register-h2">Tus compras realizadas</h2>
               </div>
               <div class="">
                  <% if(carts.length != 0){ %>
                     <table id="orders" class="table table-hover table-condensed center-block">
                        <thead>
                           <tr>
                              <th style="width:20%">Fecha</th>
                              <th style="width:50%">Productos</th>
                              <th style="width:15%">Total</th>
                              <th style="width:15%">Numero de Orden</th>
                           </tr>
                        </thead>
                        <tbody>
                        <% carts.forEach(cart => { %>
                           <% if(cart.order_number) { %>
                           <tr>
                              <td data-th="Fecha">
                                 <div>
                                    <h5 class=""><%= new Date(cart.updated_at).toLocaleDateString() %> </h5>
                                 </div>
                              </td>
                              <td data-th="Productos">
                                 <section class="row">
                                    <div>
                                       <ul>
                                          <% cart.products.forEach(item => { %>
                                             <li>
                                                <h5 class="text-justify">
                                                   <%= item.name %> x <%= item.CartDetails.quantity %>
                                                </h5>
                                             </li>
                                          <% }) %>
                                       </ul>
                                    </div>
                                 </section>
                              </td>
                              <td data-th="Total">
                                 <div>
                                    <h5 class="">
                                       $<%= helpers.trunc(cart.total) %>
                                    </h5>
                                 </div>
                              </td>
                              <td data-th="Numero de orden">
                                 <div>
                                    <a href="/users/buy-detail/<%= cart.id %>"> 
                                       <h4 class="">
                                          <u>#<%= cart.order_number %></u>
                                       </h4>
                                    </a>
                                 </div>
                              </td>
                           </tr>
                           <% } %>
                           <% }); %>
                        </tbody>
                     </table>
                     <hr>
                  <% } else { %>
                     <div class="col-12">
                        <h2 class="products-title" style="padding: 100px 0; color: tomato;">Aún no tienes compras</h2>
                     </div>
                  <% } %>
               </div>
            </div>
         </div>
      </div>
   </main>

   <!-- footer -->
   <%- include('../partials/footer') %>
   <!-- /footer -->
</body>

</html>