<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>
    
    <main>

        <!--
        <div class="login">
            <div class="login-container">
                <form action="/users/login" method="POST">
                    <div class="inputs-login">
                        <div class="title-login texts-login">
                            <a>MI CUENTA</a>
                        </div>
                        <div class="sub-title-login texts-login">
                            <a>INGRESA CON TUS DATOS:</a>
                        </div>
                        <% errors.forEach(error => { %>
                            <% if(error.param == "user_name") { %>
                                <span class="span_errors">* <%= error.msg %></span>
                            <% } else { "" } %>
                        <% }) %>
                        <div class="inputs-format">
                            <input class="login-input-style-border" type="text" name="user_name" placeholder="Usuario">
                            <input class="login-input-style-border" type="password" name="password" placeholder="Contraseña">
                        </div>
                        <div class="opciones-login">
                            <div class="boton-enviar">
                                <button class="login-btn class-btn" type="submit" id="login-enviar" target="">Enviar</button>
                            </div>
                            <div class="rememberMe margin-t-10 margin-b-10">
                                <input type="checkbox" name="rememberMe">
                                <span>Recuérdame</span>
                            </div>
                            <div class="olvide-contra">
                                <a href="#">Olvidé mi clave</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    -->
        <div class="container">
            <div class="row m-4 justify-content-center">
                <div class="col-xs-12 col-lg-4">
                    <div class="gradient-dark p-3 shadow-lg rounded">
                        <div class="pt-3">
                            <h2 class="text-white text-center">Mi Cuenta</h2>
                        </div>
                        <form class="mt-5" action="/users/login" method="POST" >
                            <% errors.forEach(error => { %>
                                <% if(error.param == "user_name") { %>
                                    <span class="span_errors">* <%= error.msg %></span>
                                <% } else { "" } %>
                            <% }) %>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-sm bg-light"
                                    placeholder="Email Id" name="user_name">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control form-control-sm bg-light"
                                    placeholder="Password" name="password">
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="rememberCheckBox" name="rememberMe">
                                <label class="form-check-label text-light" for="rememberCheckBox">Remember me?</label>
                            </div>

                            <div class="mt-5">
                                <button class="btn btn-sm btn-light col">
                                    Login
                                </button>
                            </div>

                            <div class="text-center mt-2">
                                <a href="#" class="text-warning">Olvidaste tu contraseña?</a>
                            </div>

                            <div class="mt-5">
                                <p class="text-white text-center">
                                    No estas registrado?
                                    <a href="#" class="text-warning">Click aquí para registrarte</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    
    </main>

    <%- include('../partials/footer') %>  
    
</body>
</html>