<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="container">
            <div class="card mt-4 p-3 shadow-lg rounded border-0">
                <div class="card-body">
                    <div class="card-title text-center mb-4">
                        <h2 class="register-h2">Registro</h2>
                        <hr>
                    </div>
                    <form id="registerForm" class="needs-validation" action="/users" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationFirstName">Nombre</label>
                                <input type="text" class="form-control" id="validationFirstName"
                                    placeholder="Ingrese su nombre" name="first_name" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                                <% errors.forEach(error => { %>
                                <% if(error.param == "first_name") { %>
                                <span class="span_errors">* <%= error.msg %></span>
                                <% } else { "" } %>
                                <% }) %>
                                <span id="first_name_msg" class="span_errors"></span>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationLastName">Apellido</label>
                                <input type="text" class="form-control" id="validationLastName"
                                    placeholder="Ingrese su apellido" name="last_name" required>
                                <div class="valid-tooltip">
                                    Looks good!
                                </div>
                                <% errors.forEach(error => { %>
                                <% if(error.param == "last_name") { %>
                                <span class="span_errors">* <%= error.msg %></span>
                                <% } else { "" } %>
                                <% }) %>
                                <span id="last_name_msg" class="span_errors"></span>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationUserName">Nombre de Usuario (e-mail)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                                    </div>
                                    <input type="text" class="form-control" id="validationUserName"
                                        placeholder="Ingrese su e-mail" name="user_name"
                                        aria-describedby="validationTooltipUsernamePrepend" required>
                                    <div class="invalid-tooltip">
                                        Please choose a unique and valid username.
                                    </div>
                                </div>
                                <% errors.forEach(error => { %>
                                <% if(error.param == "user_name") { %>
                                <span class="span_errors">* <%= error.msg %></span>
                                <% } else { "" } %>
                                <% }) %>
                                <span id="user_name_msg" class="span_errors"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="validationImageAvatar">Imagen de perfil</label>
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="validationImageAvatar" name="image_avatar">
                                        <label class="custom-file-label" for="inputGroupFile02">Elegir archivo</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                </div>
                                <span id="image_avatar_msg" class="span_errors"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationPassword">Contrase単a</label>
                                <input type="password" class="form-control" id="validationPassword"
                                    placeholder="Ingrese su contrase単a" name="password_initial" required>
                                <div class="">
                                    <span id="password_msg" class="span_errors"></span>
                                </div>
                                <span id="password_msg" class="span_errors"></span>
                            </div>
                            

                            <div class="col-md-6 mb-3">
                                <label for="validationPasswordConfirmation">Confirmacion contrase単a</label>
                                <input type="password" class="form-control" id="validationPasswordConfirmation"
                                    placeholder="Ingrese su contrase単a nuevamente" name="password_confirmation" required>
                                <div class="">
                                    <span id="password_confirm_msg" class="span_errors"></span>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <% errors.forEach(error => { %>
                                <% if(error.param == "password_initial") { %>
                                <div class="">
                                    <span class="span_errors">
                                        * <%= error.msg %>
                                    </span>
                                </div>
                                <% } else { "" } %>
                                <% }) %>
                            </div>
                            <div class="col-md-6 mb-3">
                                <% errors.forEach(error => { %>
                                <% if(error.param == "password_confirmation") { %>
                                <div class="">
                                    <span class="span_errors">
                                        * <%= error.msg %>
                                    </span>
                                </div>
                                <% } else { "" } %>
                                <% }) %>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Registrarse</button>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </main>

    <%- include('../partials/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.5.2/validator.min.js" integrity="sha512-vZEoK8xRncku4g5GANHh5zobUjeCMbZkSEahrADeAcRlk/1Ignf8sAKojkV4RZLkPw145+ILJFisI2pnjsPtGQ==" crossorigin="anonymous"></script>
    <script src="/js/register.js"></script>
</body>
</html>