<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>

    <main>
        <div class="register-container register-d-flex margin-b-20">
            <form class="w-100" action="/users" method="POST">
                <div class="w-100 d-flex">
                    <h2 class="register-h2">Datos del usuario</h2>
                    <hr>
                </div>
                <div class="inputs-registro register-d-flex">
                    <input class="register-input-style-border input_xl" type="text" name="first_name" value="<%= userLoggedIn.first_name %>">
                    <input class="register-input-style-border input_xl" type="text" name="last_name" value="<%= userLoggedIn.last_name %>">
                    <input class="register-input-style-border input_xl" type="text" name="user_name" value="<%= userLoggedIn.user_name %>">
                    <input class="register-input-style-border input_pass" type="password" name="password_initial" value="Elegí tu contraseña">
                    <input class="register-input-style-border input_pass" type="password" name="password_confirmation" value="Confirmá tu contraseña">

                    <button class="register-input-style-border class-btn" type="submit" id="enviar" target="">Enviar</button>
                    <button class="register-input-style-border class-rst" type="reset" id="borrar">Borrar</button>
                </div>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>